
.word-item{
    background: var(--color-box-base);
    border: 1.3px solid var(--color-line-in-white);
    border-radius: 0.8rem;
    margin-top: 3.4rem;
    overflow: hidden;
}

.word-item header{
    padding: 2.5rem 5rem;
    display: flex;
    align-items: center;

}


.word-item header div{
    margin-left: 3.5rem;
}

.word-item h3{
    padding-left: 3rem;
    font-size: 3.5rem;
}


.word-item header span{

    font-size: 1.5rem;
    display: block;
    margin-top: 0.4rem;
}

.word-item  p{
    padding-top: 2.3rem;
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 2.8rem;

}






@media (min-width:700px){
    
    .word-item header{
        padding: 3.2rem;

    }

    .word-item > p {
        padding: 0 3.2rem;
    }
   
    .word-item header div{
        margin-left: 8rem;
    }

    h3{
        font-size: 2.5rem;
    }
    
  

}